.profile-content{
  width: 15vw;
    min-height: 35vh;
    margin: 25px;
    padding: 25px;
    background: rgba(59, 59, 80, 0.935);
    /* box-shadow: 0px 0px 8px 7px rgba(0,0,0,0.6); */
    overflow: hidden;
}
.profile-image img{
  width:100%;
  transition: all 1s ease;
  z-index:0
}
.profile-image{
  position: relative;
  z-index: 1;
  width: 100%;
  height: 180px;
  box-shadow: 0 4px 3px #0002;
  overflow: hidden;
}
.profile-settings{
  padding-top:10px;
  width:100%;
  height:100%;
}
.setting{
  display:flex;
  flex:1;
  flex-direction: column;
  background-color: #454559;
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 0 3px rgba(0, 0, 0, 0.125);
  text-transform: uppercase;
  font-style: italic;
  border-bottom: 2px solid #464661;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.17), 0px 4px 8px rgba(0,0,0,0.17);
}
.setting h2{
  padding-left:15px;
  font-size:25px;
}
.active-setting{
  background: rgba(0, 0, 0, 0.05);
}
.dropdown{
  display:none;
  padding:15px;
  background: rgba(0, 0, 0, 0.05);
}
.dropdown-item{
  border-bottom: 2px solid #464661;
}
.dropdown-item h2{
  color: rgba(255, 255, 255, 0.75);
  font-size:20px;
  text-shadow: 0 3px rgba(0, 0, 0, 0.125);
  font-weight: lighter;
}
